<main>

    <section id="section-banner">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner1.PNG" class="d-block w-100" alt="Bem vindo a nossa loja!">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner2.PNG" class="d-block w-100"
                        alt="Aqui você encontra tudo que precisa!">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner3.PNG" class="d-block w-100" alt="Aproveite nossas promoções!">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
   
    <section id="section-destaques" class="container-fluid" style="margin-top: 5%;">
        <h1 style="margin-bottom: 5%">DESTAQUES</h1>
        <div class="card-group">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/produto1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2>Produto 1</h2>
            <h3 class="card-text">Descrição breve do produto</h3>
            <h2>R$ 999,99</h2>
            <button mat-raised-button>Comprar</button>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/produto2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2>Produto 2</h2>
            <h3 class="card-text">Descrição breve do produto</h3>
            <h2>R$ 999,99</h2>
            <button mat-raised-button>Comprar</button>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/produto3.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h2>Produto 3</h2>
            <h3 class="card-text">Descrição breve do produto</h3>
            <h2>R$ 999,99</h2>
            <button mat-raised-button>Comprar</button>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/produto4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2>Produto 4</h2>
            <h3 class="card-text">Descrição breve do produto</h3>
            <h2>R$ 999,99</h2>
            <button mat-raised-button>Comprar</button>
          </div>
        </div>
        </div>
    </section>

    <section id="section-categorias" class="container-fluid" style="margin-top: 5%;">
      <h1 style="margin-bottom: 5%;">CATEGORIAS</h1>
      <div class="card-group top">
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/produto5.jpg" class="card-img-top" alt="Teclado">
        <div class="card-body">
          <h2 class="card-text">Teclados Gamer</h2>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/produto6.jpg" class="card-img-top" alt="Gameboy Advanced">
        <div class="card-body">
          <h2 class="card-text">Portáteis retrô</h2>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/produto7.jpg" class="card-img-top" alt="Headset">
        <div class="card-body">
          <h2 class="card-text">Headsets</h2>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/produto8.jpg" class="card-img-top" alt="Setup">
        <div class="card-body">
          <h2 class="card-text">Periféricos</h2>
        </div>
      </div>
      </div>
      <div class="card-group bottom" style="margin-bottom: 5%;">
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/produto9.jpg" class="card-img-top" alt="Setup gamer">
        <div class="card-body">
          <h2 class="card-text">Decoração</h2>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/produto1.jpg" class="card-img-top" alt="Playstation 4">
        <div class="card-body">
          <h2 class="card-text">Playstation</h2>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/produto2.jpg" class="card-img-top" alt="Xbox-One">
        <div class="card-body">
          <h2 class="card-text">Xbox</h2>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/produto4.jpg" class="card-img-top" alt="GameCube">
        <div class="card-body">
          <h2 class="card-text">Consoles retrô</h2>
        </div>
      </div>
      </div>
    </section>
    
    




















</main>